{% extends 'base.html' %}
{% block body %}
    <ul class="events" method="post">
        <h1>Available Events:</h1>
        {% for event in events %}
            {% if event.members |length < 3 %}
                {% if currStaff not in event.members %}
                    <li><h2>{{ event.event_name }}</h2>
                    <li>Date: {{event.date.date()}}
                    <a href="{{ url_for('sign_up', event=event.event_name) }}">sign up</a>
                {% endif %}
            {% endif %}
        {% else %}
            <li>No available events :/</li>
        {% endfor %}
        <br>
        <h1>Your Events:</h1>
        {% for event in events %}
            {% if currStaff in event.members %}
                <li><h2>{{ event.event_name }}</h2>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}